<div class="container">
  <div>
    <ul class="nav navbar-nav">
      <li class="navbar-brand" href="#" routerLink="/home">Products Manager</li>
      <li href="#" routerLink="/about" routerLinkActivate="active">About</li>
      <li  href="#" routerLinkActive="active" routerLink="/cart">Cart</li>
    </ul>
  </div>
  <div class="col-md-10">
    <router-outlet
      #routerOutlet="outlet"
      (activate)="onActivate($event, routerOutlet)"
      (deactivate)="onDeactivate($event, routerOutlet)"
    ></router-outlet>
  </div>
  <hr />
  <!-- <app-cart></app-cart> -->
  <div class="col-md-2">
    <button
      class="btn btn-success"
      *ngIf="!messagesService.isDisplayed"
      (click)="onDisplayMessages()"
    >
      Show Messages
    </button>
    <router-outlet name="messages"></router-outlet>
  </div>
</div>
